* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-size: 1.4em;
    font-weight: 200;
    font-family: "Audiowide", cursive;
}

.profile {
    cursor: pointer;
    text-decoration: underline;
}

.table th, td{
    text-align: center;
}

.table {
    border-radius: 5px;
    margin: 0px auto;
    float: none;
}
