{% extends 'books/base.html' %}

{% block title %}Add book to the library{% endblock %}

{% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
{% endif %}

{% block content %}
    <h2>Add Book to the Database</h2>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% for field in book_form %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-5">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Add</button>
                </div>
            </div>
    </form>
{% endblock %}