<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'books/img/title.png' %}">
    <link rel="stylesheet" href="{% static 'books/css/bootstrap.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <script type="text/javascript" src="{% static 'books/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'books/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Library</a>
            </div>

                <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">

                    <!--Book Home Page-->
                    <li class="{% block books_active %}{% endblock %}">
                        <a href="{% url 'home' %}">
                            <span class="glyphicon glyphicon-home"></span> Books
                        </a>
                    </li>

                    <!--Issued Book-->
                    {% if not user.username == 'admin' %}
                        <li class="{% block issued_book_active %}{% endblock %}">
                            <a href="/issue_list/">
                                <span class="glyphicon glyphicon-book"></span> Issued Books
                            </a>
                        </li>
                    {% endif %}

                    {% if user.username == 'admin' %}
                        <li class="dropdown {% block add_active %}{% endblock %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% block add_book_active %}{% endblock %}">
                                    <a href="{% url 'addbook' %}">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Books
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="{% block add_user_active %}{% endblock %}">
                                    <a href="#">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Add Users
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown {% block remove_active %}{% endblock %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="{% block remove_book_active %}{% endblock %}">
                                    <a href="/remove_book/">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp; Remove Books
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="{% block remove_user_active %}{% endblock %}">
                                    <a href="#">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Remove Users
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <form class="navbar-form" role="search" action="{% url 'search' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span style="font-size: large;">{{ user.username }}</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{% block profile_active %}{% endblock %}">
                                <a href="{% url 'profile' %}">
                                    <span class="glyphicon glyphicon-user"></span> Account Setting
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}


        <footer id="footer" class="main-footer row">
          <div class="col-8 row">
            <div class="col-3">
              <h4>About</h4>
            </div>
            <div class="col-3">
              <h4>Support</h4>
            </div>
            <div class="col-3">
              <h4>Contact</h4>
            </div>
            <div class="col-3">
              <h4>Legal</h4>
            </div>
          </div>
          <div class="col-4">
            <hr class="small-only">
            <h4 class="is-centered">We're On it.
              <ul class="social-nav horizontal-list">
                <li><a href="https://twitter.com/immanoj16" title="Manoj on Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/immanoj16" title="Manoj on Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="#" title="Manoj on YouTube" target="_blank"><i class="icon-youtube"></i></a></li>
                <li><a href="#" title="Manoj on LinkedIn" target="_blank"><i class="icon-linkedin"></i></a></li>
                <li><a href="#" title="Manoj on Google Plus" target="_blank"><i class="icon-google"></i></a></li>
              </ul>
            </h4>
          </div>
            <div style="margin-top:10px;" class="col-8">
              Copyright © 2017 &nbsp;| &nbsp;<a href="https://www.surveymonkey.com/" class="monkey-link">Manoj Inc.</a>
            </div>

          </div>
        </footer>

    </div>

    <script src="{% static 'books/js/main.js' %}"></script>
</body>
</html>
