{% extends 'books/base.html' %}
{% block title %}Issue Details{% endblock %}
{% block issued_book_active %}active{% endblock %}

{% block content %}

    <h3 class="text-center text-capitalize">Issued Book List</h3>

        {% if list %}
            <table class="table table-hover text-centered" style="width: 70%;">
                <tr>
                    <th>ISBN No</th>
                    <th>Book Name</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Due/Fine</th>
                </tr>
                {% for l in list %}
                    <tr data-toggle="modal" data-target="#{{ l.id }}">
                        <td>{{ l.issue_isbn_no }}</td>
                        <td>{{ l.issue_book_name }}</td>
                        <td>{{ l.issue_date }}</td>
                        <td>{{ l.return_date }}</td>
                        <td>{{ l.due_fine }}</td>
                    </tr>
                {% endfor %}
            </table>

            <!-- Modal -->
            {% for l in list %}
                <div class="modal fade" id="{{ l.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelName" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabelName"> Issue Book Details </h4>
                            </div>
                            <div class="modal-body">
                                <h2> {{ l.issue_book_name }} </h2>
                                <h3> {{ l.issue_isbn_no }} </h3>
                                <h3> {{ l.issue_date }} </h3>
                                <h3> {{ l.due_fine }} </h3>
                                {% if username != 'admin'%}
                                    <form action="#" method="get">
                                        <label for="yes">Do you want to Return this book: </label>
                                        &nbsp<input type="checkbox" name="choice" value="yes"> yes &nbsp;&nbsp;
                                        <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span> Return</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <h3 class="text-info">No issued books are available...</h3>
        {% endif %}
{% endblock %}