{% extends 'books/base_visitor.html' %}
{% block title %}register page{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form class="form-horizontal" method="post">
      {% csrf_token %}
      {% for field in user_form %}
          <div class="form-group">
              <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
              <div class="col-sm-5">
                  {{ field }}
                  {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
              </div>
              {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
              {% endfor %}
          </div>
      {% endfor %}
      {% for field in profile_form %}
          <div class="form-group">
              <label class="col-sm-2 control-label">{{ field.label_tag }}</label>
              <div class="col-sm-5">
                  {{ field }}
              </div>
              {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
              {% endfor %}
          </div>
      {% endfor %}
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</button>
          </div>
      </div>
  </form>
{% endblock %}